$white: #FFF;
$success: #09c476;
$lightblue: #A8DADC;
$darkerblue: #457B9D;
$darkblue: #1D3557;
$lightgrey: #F1FAEE;
$customred: #e63946;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  background-color: $lightblue;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: {
    left: 50px;
  }
  color: $white;
  font-family: 'Poppins', sans-serif;  
  font-size: 100px;
  font-weight: 400;
  color: $darkblue
}
.todoRow {
  display: flex;
  height: 100%;
  align-items: baseline;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}
.todoElement {
  padding: 0.5em;
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.todoText {
  margin-right: 2em;
  text-decoration: bold;

}

.todoDueDate {
  color: $lightgrey;

}

.todoCheckbox {
  appearance: none;
  border: 1px solid black;
  background-color: $lightgrey;
  border-radius: 0.2em;
  padding: 0.5rem;
}

.checkedTask {
  text-decoration: line-through;
  font-style: italic;
  color: $lightgrey;
}


.trashicon:hover {
  background-color: red;
  backface-visibility: 0.5;
}

#inputEl, #datePicker {
  width: 50%;
  padding: 0.5em;
  text-align: center;
  border: 1px solid $darkblue;
  border-radius: 0.2em;
}

#inputEl:focus {
  outline: none;
  background-color: $lightgrey;
}

#submitButtonEl {
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0;
  background-color: $darkerblue;
  color: $lightgrey;
}

#submitButtonEl:hover {
  background-color: $darkblue;
  cursor: pointer;
  color: $lightgrey;
  text-decoration: bold;
}

#submitButtonEl:active {
  transform: scale(0.98);
} 

#dueDateSort {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0;
  background-color: $lightgrey;
  color: $darkerblue;
}

  @keyframes highlightInput {
    0%, 100% {background-color: white;}
    50% {background-color: $customred; transform: scale(1.09);}
  }

.duplicateInput {
  animation: highlightInput 0.5s 3;
}

.missingInput {
  animation: highlightInput 0.3s 1;
}

.deletedElement {
  animation: deleteElement 0.3s 1;
}

@keyframes deleteElement {
  0% {opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
  
}

.far {
  padding: 0.25em;
  margin: 0.2em;
  cursor: pointer;
}

.checkboxDone {
  visibility: hidden;
}

#datePicker {
  display: block;
}