$white: #FFF;
$success: #09c476;
$lightblue: #A8DADC;
$darkerblue: #457B9D;
$darkblue: #1D3557;
$lightgrey: #F1FAEE;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  background-color: $lightblue;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: {
    left: 50px;
  }
  color: $white;
  font-family: 'Poppins', sans-serif;  
  font-size: 100px;
  font-weight: 400;
  color: $darkblue
}

.todoElement {
  padding: 0.5em;
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: space-between;
}

.todoText {
  margin-right: 2em;
  text-decoration: bold;
}

.todoDueDate {
  color: $lightgrey;
}


#inputEl {
  width: 50%;
  padding: 0.5em;
  text-align: center;
}

#submitButtonEl {
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0;
  background-color: $darkerblue;
  color: $lightgrey;
}

#submitButtonEl:hover {
  background-color: $darkblue;
  cursor: pointer;
  color: $lightgrey;
  text-decoration: bold;
}

#submitButtonEl:active {
  transform: scale(0.98);
} 

.missingInput {
  @keyframes animaatio {
    0%, 100% {background-color: white;}
    50% {background-color: red;}
  }
}